config MMI_SIGPRINT
        tristate "MMI SIGPRINT"
        default n
        help
         Say Y here if you have a mmi sigprint compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called mmi_sigprint.